.users-container {}

.users-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.users-container p {
    font-size: 1.1rem;
    color: #555;
}

.users-container .search-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    width: calc(100% - 150px);
    /* Adjust width to make room for the sort select */
    max-width: 300px;
    /* Optional: Max width to prevent excessive stretching */
}

.users-container .sort-select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 10px;
    /* Add gap between input and select */
    background-color: #fff;
}

.users-container .loading {
    font-size: 1.2rem;
    color: #888;
}

.users-container .users-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.users-container .users-table th,
.users-container .users-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.users-container .users-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.users-container .users-table td {
    background-color: #fff;
}

.users-container .pagination-controls {
    display: flex;
    justify-content: center;
    /* Center the pagination controls */
    align-items: center;
    gap: 10px;
    /* Add gap between buttons and text */
}

.users-container .pagination-controls button {
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ee7214;
    color: #fff;
    cursor: pointer;
}

.users-container .pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.users-container .pagination-controls span {
    font-size: 1rem;
}