.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    padding: 15px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(252, 234, 210);
    z-index: 1000;
    position: sticky;
    top: 0px;
    left: 0px;
    /* backdrop-filter: blur(100px); */
}

.navbar-wrapper .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.navbar-wrapper .nav-left .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    text-decoration: none;
}

.navbar-wrapper .nav-left .logo .logo-text {
    font-size: 1.2rem;
    color: #363636;
    font-weight: bolder;
}

.navbar-wrapper .nav-right .aboutus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: #363636;
    text-decoration: none;
    transform: perspective(1px) translateZ(0);
    transition-duration: .2s;
    transition-property: transform;
}

.navbar-wrapper .nav-right .aboutus:hover {
    font-weight: bold;
    color: var(--theme-color2);
    transform: scale(1.01);
}

.navbar-wrapper .nav-right {
    display: flex;
    flex-direction: row;
    padding: 4px 0px;
    gap: 40px;
    /* align-items: center; */
}

.navbar-wrapper .nav-right .nav-right-item {
    width: fit-content;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-wrapper .nav-left .nav-left-item.search {
    padding: 0px 20px;
    border-radius: 50px;
    background-color: var(--text-light);
    font-size: 1.1rem;
    font-weight: 500;
    color: #363636;
    width: 240px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    height: 40px;
}

.navbar-wrapper .nav-left .nav-left-item.search input {
    background-color: var(--text-light);
    font-size: 1rem;
    font-weight: 500;
    color: #363636;
    position: relative;
    width: 100%;
}

.navbar-wrapper .nav-left .nav-left-item .search-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    top: 1px;
    color: #363636;
}

.navbar-wrapper .nav-right .nav-right-item.joinus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    width: 216px;
    padding: 0px 10px;
    color: #363636;
    text-decoration: none;
    transform: perspective(1px) translateZ(0);
    transition-duration: .2s;
    transition-property: transform;
}

.navbar-wrapper .nav-right .nav-right-item.joinus:hover {
    font-weight: bold;
    color: var(--theme-color2);
    transform: scale(1.01);
}

.navbar-wrapper .nav-right .nav-right-item.signin {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    font-size: .9rem;
    font-weight: bold;
    border-radius: 10px;
    /* background: linear-gradient(to bottom right, orange, orangered); */
    background-color: #F15B28;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.navbar-wrapper .nav-right .nav-right-item.signin:hover {
    color: #363636;
    /* background: linear-gradient(to bottom right, orangered, orange); */
    background-color: #F15B28;
}


@keyframes slideIn {
    from {
        left: -15px;
        opacity: 0;
    }

    to {
        left: 0px;
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        left: 0px;
        opacity: 1;
    }

    to {
        left: -15px;
        opacity: 0;
    }
}

@keyframes slideInput {
    from {
        left: -30px;
    }

    to {
        left: 0px;
    }
}

@keyframes slideOutput {
    from {
        left: 0px;
    }

    to {
        left: -30px;
    }
}

.nav-right-item.user-info {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* background-color: gray; */
}

.user-avatar {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 5px 10px;
    background-color: rgb(216, 186, 131);
    border-radius: 10px;
}

.avatar-image {
    border-radius: 50%;
    /* margin-right: 8px; */
    /* background-color: lightblue; */
}

.avatar-image-alt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: purple;
}

.avatar-image-alt svg {
    width: 100%;
    height: 100%;
}

.username {
    /* background-color: lightcoral; */
}

.arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.arrow-icon.dropdownOpen {
    transform: rotate(180deg);
    /* transition: 0.25s; */
    /* background-color: blue; */
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-item {
    padding: 8px 16px;
    white-space: nowrap;
    display: block;
    text-decoration: none;
    color: black;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}