.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px;
}

.navbar-wrapper .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

.navbar-wrapper .nav-left .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.navbar-wrapper .nav-left .logo,
.navbar-wrapper .nav-left .aboutus {
    font-size: 1.1rem;
    font-weight: 500;
    color: #363636;
    text-decoration: none;
}

.navbar-wrapper .nav-left .logo img {
    width: 50px;
}

.navbar-wrapper .nav-right {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    /* align-items: center; */
}

.navbar-wrapper .nav-right .nav-right-item {
    /* background-color: red; */
    /* #114b71 */
    /* #0000008c */
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: #363636;
    text-decoration: none;
}

.navbar-wrapper .nav-right .nav-right-item.search {
    padding: 0px 20px;
    border-radius: 50px;
}