*{
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #010717;
    background-image: radial-gradient(circle farthest-side, rgba(250, 249, 219, 0.94), rgba(249, 227, 219, 0.945));
}

:root {
    --theme-color : #EE7214;
    --theme-color2 : #E14D2A;
    --text-light : rgb(243, 243, 243);
    --slogan-width : 420px;
}
