*{
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #010717;
    background-image: radial-gradient(circle farthest-side, rgba(250, 249, 219, 0.94), rgba(249, 227, 219, 0.945));
}
main{
    margin-bottom: auto;
	/* padding: 50px 20px 0px 20px; */
}

:root {
    --theme-color : #EE7214;
    --theme-color2 : #E14D2A;
    --theme-color3 : #FFA836;
    --theme-color4 : #D75F00;
    --text-light : rgb(243, 243, 243);
    --theme-light : #FFD79A;
    --slogan-width : 420px;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 8px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(247, 195, 176); /* Dark background color */
    border-radius: 10px;
    cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(249, 143, 104); /* Darker color for the handle */
    border-radius: 10px;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(250, 104, 51); /* Lighter color on hover */
}
