main.profile {
    padding: 50px 20px 0px 20px;
    /* background-color: red; */
}

.breadcrumb {
    margin-bottom: 20px;
    font-size: 14px;
}

.breadcrumb a {
    color: #EE7214;
    text-decoration: none;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

.profile-avatar {
    margin-bottom: 20px;
}

.profile-info {
    text-align: center;
}

.profile-info h2 {
    margin: 0 0 10px 0;
    font-size: 22px;
}

.profile-info p {
    margin: 5px 0;
    font-size: 16px;
}

.profile-info .add-location-button {
    background-color: #EE7214;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-right {
    width: 65%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-details h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.detail-item {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-item label {
    font-weight: bold;
    font-size: 16px;
    width: 30%;
}

.detail-item span {
    font-size: 16px;
    width: 70%;
    text-align: right;
}

.address-book {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.address-book h3 {
    font-size: 22px;
    margin: 0;
}

.add-button {
    background-color: #EE7214;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}