main.profile {
    padding: 50px 20px 0px 20px;
    /* background-color: red; */
}

.profile .profile-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    /* background-color: red; */
}

.profile .profile-section .sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    border-radius: 10px;
    /* white-space: nowrap; */
    /* background-color: #e1bea6; */
    /* border: 2px solid #e1bea6; */
}

.profile .profile-section .sidebar .sidebar-item {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    background-color: lightgray;
}

.profile .profile-section .sidebar .sidebar-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.profile .profile-section .sidebar .sidebar-item .text {
    /* background-color: blue; */
}

.profile .profile-section .line {
    width: 2px;
    border-radius: 20px;
    background-color: #e1bea6;
}

.profile .profile-section .content {
    padding: 10px;
    border-radius: 10px;
    /* border: 2px solid #e1bea6; */
    /* background-color: #e1bea6; */
    /* flex-grow: 1; */
    /* width: 100%; */
}