.service-container {
    position: relative;
}

.service-container-separator {
    width: 100%;
    height: 6px;
    margin: 25px auto;
}

.service-container-first {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.service-container-first-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* border: 2px solid black; */
}

.service-container-first-top-icon {
    filter: brightness(0) saturate(100%) invert(37%) sepia(96%) saturate(3785%) hue-rotate(-10deg) brightness(92%);
}

.service-container-first-left-title {
    font-size: 2rem;
    font-weight: bold;
    color: #363636;
    color: var(--theme-color2);
    /* border: 2px solid black; */
}

.service-container-first-left-desc {
    width: 60%;
    text-align: center;
    font-size: 1.09rem;
    font-weight: 500;
    color: #444444;
    /* color: var(--theme-color); */
}

.service-container-first-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.service-container-second {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.service-container-second-inner {
    margin: 200px auto 50px auto;
    padding: 230px 20px 50px 20px;
    background-color: rgba(245, 245, 245, 0.71);
    border-radius: 10px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 40px;
}

.service-categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.service-categories-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--theme-color2);
}

.service-category {
    list-style: none;
    height: 380px;
    width: 230px;
    /* border: 2px solid black; */
    border-radius: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(3, 176, 164, 0.637); */
    box-shadow: 0px 0px 10px 0px rgba(55, 34, 1, 0.4);
    overflow: hidden;
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    transition-duration: .3s;
    transition-property: transform;
}

.service-category:hover {
    transform: scale(1.02);
}

.service-category:hover {
    .learnmore-btn {
        animation: slideUp .25s forwards;
    }
}

.service-category:not(:hover) {
    .learnmore-btn {
        animation: slideDown .25s forwards;
    }
}

.service-category-info {
    position: absolute;
    top: 20px;
    width: 80%;
    left: calc(50%-40%);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    text-align: center;
}

.service-category-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.service-category-desc {
    font-size: .95rem;
    font-weight: 400;
    color: black;
}

.learnmore-btn {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    font-size: .9rem;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(to bottom right, orange, orangered);
    cursor: pointer;
    transition: all .3s ease-in-out;
    position: absolute;
    bottom: -30px;
    opacity: 0;
}

.learnmore-btn:hover {
    color: #363636;
    background: linear-gradient(to bottom right, orangered, orange);
}

/* .service-category-image-wrapper{
    height: 50%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
} */
.service-category-image {
    height: 100%;
    width: 100%;
    opacity: .85;
    z-index: -1;
}

.service-container-second-coverpic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: calc(50% - 35%);
    width: 70%;
    /* border: 2px solid black; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(55, 34, 1, 0.4);

}

.service-cover {
    width: 100%;
    height: 400px;
}

.other-services {
    box-shadow: 0px 0px 10px 0px rgba(55, 34, 1, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 24px;
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    transition-duration: .3s;
    transition-property: transform;
    font-size: .9rem;
    font-weight: bold;
}

.other-services:hover {
    transform: scale(1.05);
}

.service-container-faqs {
    width: 100%;
    margin: 0px auto 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.faqs-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--theme-color2);
}

.faqs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    gap: 20px;
}

.faqs-item {
    width: 80%;
    box-shadow: 0px 0px 5px 0px rgba(55, 34, 1, 0.4);
    border-radius: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    /* opacity: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: overlayIn .8s forwards;
}

.popup-for-service {
    background-color: #010717;
    background-image: radial-gradient(circle farthest-side, rgba(250, 249, 219, 0.94), rgba(249, 227, 219, 0.945));
    padding: 20px 30px 40px 30px;
    border-radius: 10px;
    width: fit-content;
    max-width: 700px;
    /* max-height: 70vh; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    z-index: 1001;
    transform: perspective(1px) translateZ(0);
    transition-duration: .1s;
    transition-property: transform;
    animation: popupIn .4s forwards;

    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #363636;
}

.popup-cross {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px;
    border-radius: 50%;
    background: inherit;
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    transition-duration: .2s;
    transition-property: transform;
}

.popup-cross:hover {
    background-color: beige;
    transform: scale(1.1);
}

.popup-header-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0px auto;
}

.popup-title-top {
    font-size: 1.4rem;
    font-weight: 600;
    color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.popup-title-bottom{
    width: 100%;
    border-radius: 10px;
    height: 4px;
    background-color: var(--theme-color2);
}
.service-order-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: auto;
    max-height: 60vh;
    width: 100%;
}

.service-order-form-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-item-up {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.form-item-title {
    font-size: 1.15rem;
    font-weight: bold;
}

.form-item-selected {
    font-size: .9rem;
    color: #363636;
    font-weight: 600;
    padding: 4px 8px 2px 8px;
    border-radius: 6px;
    box-shadow: inset 4px 4px 4px rgba(36, 4, 0, 0.4), 2px 3px 5px -1px rgba(55, 34, 1, 0.2);
    color: var(--theme-color2);
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 2px;
}

.order-form-item-desc {
    font-size: .9rem;
    padding: 4px 8px 2px 8px;
    border-radius: 6px;
    box-shadow: inset 4px 4px 4px rgba(36, 4, 0, 0.4), 2px 3px 5px -1px rgba(55, 34, 1, 0.2);
    color: #363636;
    font-weight: 400;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 2px;
}

.time-section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
}

.time-section-list-item {
    width: 170px;
    height: 45px;

}

.order-description-box {
    resize: none;
    border-radius: 6px;
    height: 100px;
    width: 95%;
    margin-left: 12px;
    padding: 6px 10px;
    font-family: inherit;
    font-size: .9rem;
    background-color: inherit;
    box-shadow: inset 0px 0px 5px 0px rgba(55, 34, 1, 0.4);
}
.order-note-section{
    display: flex;
    align-items: center;
    font-size: .9rem;
}
.next-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-next-btn {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 50px;
    font-size: .9rem;
    font-weight: bold;
    border-radius: 10px;
    background: linear-gradient(to bottom right, orange, orangered);
    cursor: pointer;
    transition: all .2s ease-in-out;
    width: fit-content;
}
.order-next-btn:disabled{
    cursor: not-allowed;
}
.order-next-btn:hover {
    color: #363636;
    background: linear-gradient(to bottom right, orangered, orange);
}
.date-time-containers{
    padding-left: 12px;
}
@keyframes slideUp {
    from {
        bottom: 140px;
        opacity: 0;
    }

    to {
        bottom: 170px;
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        bottom: 170px;
        opacity: 1;
    }

    to {
        bottom: 140px;
        opacity: 0;
    }
}

@keyframes popupIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes popupOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes overlayIn {
    from {
        background-color: rgba(0, 0, 0, 0);
        /* opacity: 0; */
    }

    to {
        background-color: rgba(0, 0, 0, 0.5);
        /* opacity: 1; */
    }
}

@keyframes overlayOut {
    from {
        background-color: rgba(0, 0, 0, 0.5);
        /* opacity: 1; */
    }

    to {
        background-color: rgba(0, 0, 0, 0);
        /* opacity: 0; */
    }
}