.image-slider{
    height: 100%;
    position: relative;
    transition: transform 0.5s ease;
    overflow: hidden;
}
.image-slides{
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid black;
    flex: 0 0 auto;
}
.left-arrow{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 30px;
    font-size: 40px;
    color: black;
    z-index: 1;
    cursor: pointer;
    font-weight: bold;
}
.right-arrow{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 30px;
    font-size: 40px;
    color: black;
    z-index: 1;
    cursor: pointer;
    font-weight: bold;
}

.dots-container{
    display: flex;
    justify-content: center;
}
.dots-item{
    margin: 0 5px;
    cursor: pointer;
    font-size: 25px;
}