main {
    position: relative;
}

.homepage-separator {
    width: 100%;
    height: 6px;
    background-color: rgba(193, 192, 168, 0.563);
    margin: 50px auto;
}

.homepage-coverpic {
    width: 100%;
    height: 60vh;
    opacity: .8;
}

.homepage-slogan {
    position: absolute;
    top: 120px;
    left: calc(96% - var(--slogan-width));
    width: var(--slogan-width);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homepage-slogan-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #363636;
}

.homepage-slogan-desc {
    font-size: 1.2rem;
    font-weight: 500;
    color: #444444;
}

.services-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.services-section-title {
    font-size: 2rem;
    font-weight: bold;
}

.services-lists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    width: 90vw;
}

.services-lists a {
    text-decoration: none;
    padding: 10px;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: perspective(1px) translateZ(0);
    transition-duration: .3s;
    transition-property: transform;
}

.services-listitems {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.services-lists a:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 0px rgba(55, 34, 1, 0.2);
    color: #393939;
}

.service-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47%;
}

.service-icon-image {
    filter: brightness(0) saturate(100%) invert(37%) sepia(96%) saturate(3785%) hue-rotate(-10deg) brightness(92%);
}

.service-title {
    height: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: .95rem;
    font-weight: 500;
    transition: all .3s ease;
    color: #444444;
}

.why-sahayata-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #363636;
    width: 95%;
}

.why-sahayata-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.why-sahayata-title {
    font-size: 2rem;
    font-weight: bold;
}

.why-sahayata-answers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
}

.why-answers {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(55, 34, 1, 0.2);
}

.answers-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-icon-image {
    border-radius: 50%;
}

.answers-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.answers-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.answers-desc {
    font-size: .95rem;
    font-weight: 400;
    color: #444444;
}

.why-sahayata-right {
    position: relative;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-sahayata-cover {
    border-radius: 10px;
    opacity: .9;
    box-shadow: 0px 0px 10px 0px rgba(55, 34, 1, 0.4);
}

.totaldetails-separator {
    width: 1.5px;
    height: 150px;
    /* margin: 0px 50px; */
    background-color: rgba(193, 192, 168);
}

.homepage-totaldetails-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 50px auto;
}

.homepage-totaldetails-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.totaldetails-counting {
    color: var(--theme-color2);
    font-size: 2.25rem;
    font-weight: bold;
}

.totaldetails-title {
    color: #444444;
    font-size: 1.4rem;
}

.testimonials-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1300px;
    margin: 0px auto;
}

.testimonials-slider-container {
    display: flex;
    position: relative;
    /* flex-direction: column; */
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 20px 0px;
    overflow: hidden;   /* Center the slider vertically */
}

.testimonials-slider {
    display: flex;
    width: 200%;
    transform: translateX(0px);
    transition: transform 0.5s ease;

}

.testimonials-slides {
    flex: 0 0 30%;
    padding: 20px;
    opacity: 0.5;
    transform: scale(0.8);
    transition: transform 0.5s ease;
    border: 2px solid black;
    
}
.slide-active{
    flex: 0 0 40%;
    opacity: 1;
    transform: scale(1);
}

.left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 40px;
    color: black;
    z-index: 1;
    cursor: pointer;
    font-weight: bold;
}

.left-arrow {
    left: 30px;
}

.right-arrow {
    right: 30px;
}

.dots-container {
    display: flex;
    justify-content: center;
}

.dots-item {
    margin: 0 5px;
    cursor: pointer;
    font-size: 25px;
    transition: transform 0.3s ease;
}

.dots-item.active {
    transform: scale(1.3);
}
