main {
    position: relative;
}

.homepage-separator {
    width: 100%;
    height: 4px;
    background-color: rgba(193, 192, 168, 0.363);
    margin: 50px auto;
}

.homepage-coverpic {
    width: 100%;
    height: 60vh;
    opacity: .8;
}

.homepage-slogan {
    position: absolute;
    top: 120px;
    left: calc(96% - var(--slogan-width));
    width: var(--slogan-width);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homepage-slogan-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #363636;
}

.homepage-slogan-desc {
    font-size: 1.2rem;
    font-weight: 500;
    color: #444444;
}

.services-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.services-section-title {
    font-size: 2rem;
    font-weight: bold;
}

.services-lists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    width: 90vw;
}

.services-lists a {
    text-decoration: none;
    padding: 10px;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: perspective(1px) translateZ(0);
    transition-duration: .3s;
    transition-property: transform;
}

.services-listitems {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.services-lists a:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 0px rgba(55, 34, 1, 0.2);
    color: #393939;
}

.service-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47%;
}

.service-icon-image {
    filter: brightness(0) saturate(100%) invert(37%) sepia(96%) saturate(3785%) hue-rotate(-10deg) brightness(92%);
}

.service-title {
    height: 47%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: .95rem;
    font-weight: 500;
    transition: all .3s ease;
    color: #444444;
}

.why-sahayata-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #363636;
    width: 95%;
}

.why-sahayata-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.why-sahayata-title {
    font-size: 2rem;
    font-weight: bold;
}

.why-sahayata-answers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
}

.why-answers {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(55, 34, 1, 0.2);
}

.answers-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-icon-image {
    border-radius: 50%;
}

.answers-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.answers-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.answers-desc {
    font-size: .95rem;
    font-weight: 400;
    color: #444444;
}

.why-sahayata-right {
    position: relative;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-sahayata-cover {
    border-radius: 10px;
    opacity: .9;
    box-shadow: 0px 0px 10px 0px rgba(55, 34, 1, 0.4);
}

.totaldetails-separator {
    width: 1.5px;
    height: 150px;
    /* margin: 0px 50px; */
    background-color: rgba(193, 192, 168);
}

.homepage-totaldetails-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 100px auto 50px auto;
}

.homepage-totaldetails-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.totaldetails-counting {
    color: var(--theme-color2);
    font-size: 2.25rem;
    font-weight: bold;
}

.totaldetails-title {
    color: #444444;
    font-size: 1.4rem;
}

.testimonial-slider-wrapper {
    width: 80%;;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin: 0px auto 100px auto;
    color: #363636;
    /* border: 2px solid black; */
}
.testimonial-section-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.testimonial-slider {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
    /* padding: 0px 0px 20px 0px; */
    overflow: hidden;
    width: 100%;
}

.testimonial-container {
    display: flex;
    width: 100%;
    height: fit-content;
    transition: transform 0.5s ease;
}

.testimonial-card-wrapper {
    flex: 0 0 30%;
    padding: 10px;
    opacity: 0.2;
    transform: scale(.8);
    transition: transform 0.5s ease;
}

.testimonial-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(55, 34, 1, 0.4);
}
.testimonial-card-top {
   display: flex;
   gap: 20px;
   align-items: center;
}
.testimonial-card-profile{
    border-radius: 50%;
}
.testimonial-card-infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /* border: 2px solid black; */
}
.card-infos-name{
    font-size: 1.1rem;
    font-weight: bold;
    color: #363636;
}
.card-infos-post{
    font-size: .9rem;
    font-weight: bold;
    color: #363636;
}
.card-infos-about{
    font-size: .95rem;
    font-weight: 400;
    color: #444444;
    /* width: 70%; */
}
.testimonial-card-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 12px;
}
.testimonial-card-iconleft{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--theme-color2);
    font-size: 20px;
}
.testimonial-card-iconright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--theme-color2);
    font-size: 20px;
}
.testimonial-card-message{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    color: #444444;
}
.testimonial-date{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: .9rem;
    font-weight: 400;
    color: #444444;
}
.slide-active {
    flex: 0 0 40%;
    opacity: 1;
    transform: scale(1);
}

.left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: #363636;
    color: var(--theme-color2);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.dots-container {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

.dots-item {
    margin: 0 5px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: background-color .3s ease-in-out;
    background-color: rgba(192, 191, 191, 0.9);
    background-color: rgba(255, 166, 0, 0.533);
}

.dots-item.active {
    background-color: rgba(94, 94, 94, 0.9);
    background-color: var(--theme-color2);
}
