.users-container {
    /* min-height: 100vh; */
}

.users-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.users-container p {
    font-size: 1.1rem;
    color: #555;
}

.users-container .filters {
    margin-bottom: 20px;
}

.users-container .search-input,
.users-container .sort-select,
.users-container .role-select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.users-container .search-input {
    width: calc(100% - 150px);
    max-width: 300px;
}

.users-container .sort-select {
    margin-left: 10px;
}

.users-container .role-select {
    margin-left: 10px;
}

.users-container .loading {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: white;
    border-radius: 10px;
}

.users-container .users-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.users-container .users-table th,
.users-container .users-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.users-container .users-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
}

.users-container .users-table td {
    background-color: #fff;
}

.users-container .users-table td.action {
    position: relative;
}

.users-container .users-table .action-button {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    background-color: lightgray;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
}

.users-container .users-table .action-popup {
    width: fit-content;
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 5px;
    /* top: calc(100% + 5px); */
    right: 50%;
    background-color: white;
    /* background-color: var(--theme-light); */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    overflow: hidden;
}

.users-container .users-table .action-popup .action-popup-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    padding: 8px 16px;
    white-space: nowrap;
    font-size: 1rem;
    text-align: left;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    /* background-color: lightblue; */
}

.users-container .users-table .action-popup .action-popup-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    /* color: gray; */
}

.users-container .users-table .action-popup .action-popup-item:hover {
    background-color: #f0f0f0;
}

.users-container .users-table .action-popup .action-popup-item.delete-button {
    color: #fa5252;
    /* border-radius: 10px; */
    /* background-color: white; */
}

.users-container .users-table .action-popup .action-popup-item.delete-button .icon {
    color: #fa5252;
    /* border-radius: 10px; */
    /* background-color: white; */
}

.users-container .users-table .action-popup .action-popup-item.delete-button:hover {
    background-color: rgba(250,82,82,.12);
}

.users-container .users-table .status-verified {
    color: #28a745;
    /* font-weight: bold; */
}

.users-container .users-table .status-not-verified {
    color: #dc3545;
    /* font-weight: bold; */
}

.users-container .users-table .status-not-set {
    color: #6c757d;
}

.users-container .pagination-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr auto 1fr;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* margin-top: 20px; */
}

.users-container .pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    gap: 10px;
}

.users-container .pagination-controls button {
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ee7214;
    color: #fff;
    cursor: pointer;
}

.users-container .pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.users-container .pagination-controls span {
    font-size: 1rem;
}


.users-container .pagination-wrapper .user-count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    /* text-align: right; */
}

.users-container .no-users {
    font-size: 1.2rem;
    color: #888;
    text-align: center;
    /* margin-top: 20px; */
}